<div class="alert alert-danger" role="alert" ng-if="!isValid">Uh oh, looks like you skipped step 1. Please upload the file in <a href="#/">step 1</a></div>
<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th ng-repeat="header in parsedCsv[0]">{{header}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in detailsData track by $index">
                    <td ng-repeat="col in row track by $index" ng-if="[0, 1, 2, 7, 10].indexOf($index) > -1">{{ col }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <ui-gmap-google-map center='map.center' zoom='map.zoom' ng-if="isValid">
            <ui-gmap-markers models="detailsData" coords="'coordinates'" idkey="'id'" fit="true" icon="'icon'">
            </ui-gmap-markers>
        </ui-gmap-google-map>
    </div>
</div>
