<div class="panel panel-default text-center col-md-6 col-md-offset-3">
    <div class="panel-body">
        <input type="file" file-reader="uploadedFile" />
        <hr />
        <button class="btn btn-success" ng-disabled="uploadDisabled" ng-click="uploadFile()">Upload</button>
        
    </div>
</div>

<div class="panel panel-default col-md-6 col-md-offset-3" ng-if="showValidationErrors">
    <div class="panel-body">
        <table class="table">
            <!-- <thead>
                <tr>
                    <th ng-repeat="header in parsedCsv[0]">{{header}}</th>
                </tr>
            </thead> -->
            <tbody>
                <tr ng-repeat="row in parsedCsv track by $index" ng-class="{'warning' : row.isInvalid}">                    
                    <td ng-repeat="col in row track by $index" ng-if="$index != 7 && $index != 8">{{ col }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>