<div class="panel panel-default">
    <div class="panel-body">
        <input type="file" file-reader="uploadedFile" />
        <hr />
        <button class="btn btn-success" ng-disabled="uploadDisabled()" ng-click="uploadFile()">Upload</button>
    </div>
</div>
<!-- <div class="panel panel-default">
    <div class="panel-body">
        {{ uploadedFile || 'No data available' }}
    </div>
</div> -->
<!-- <div class="panel panel-default">
    <div class="panel-body">
        {{ angular.toJson($scope.parsedCsv) }}
    </div>
</div> -->
<div class="panel panel-default">
    <div class="panel-body">
        <table class="table">
            <thead>
                <!-- <tr>
                    <th ng-repeat="header in parsedCsv[0]">{{header}}</th>                    
                </tr> -->
            </thead>
            <tbody>
                <tr ng-repeat="row in parsedCsv track by $index">
                    <td ng-repeat="col in row track by $index">{{ col }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
